@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
}

.head_text {
  margin-top: 1.25rem; /* tương đương với mt-5 */
  font-size: 3.125rem; /* tương đương với text-5xl */
  font-weight: 800; /* tương đương với font-extrabold */
  line-height: 1.15; /* tương đương với leading-[1.15] */
  color: black; /* màu văn bản */
  @screen sm {
    font-size: 3.75rem; /* tương đương với sm:text-6xl */
  }
}

.red_gradient {
  background-clip: text; /* tương đương với bg-clip-text */
  color: transparent; /* tương đương với text-transparent */
  background-image: linear-gradient(to right, #f56565, #c53030);
}


